body {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5rem;
}
#navbar h4 {
    font-size: 4.0rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFDF00;
}

.top-header {
/* background-color: rgb(80, 122, 58); */
background-color: #363537;
font-size: 16px;
}

.address a {
    color: white;
    text-decoration: none;
}

strong {
    color: white;
}

span a {
    color: white;
    color: inherit;
    text-decoration: none;
}

#header .fab {
    font-size: 24px;
    float: right;
    padding: 10px;
}

.fa-facebook-square{
color: #2f55a4;
}

.fa-yelp{
    color: #c41200;
}

.navbar-dark .navbar-brand {
    color: #FFDF00;
    text-shadow: -1px 3px 0 rgb(122, 19, 19),
    3px 1px 0 rgb(122, 19, 19),
   3px -1px 0 rgb(122, 19, 19),
  -1px -1px 0 rgb(122, 19, 19);
}

.custom-toggler{
    background: #363537;
    border-color: white;
}

/* .navbar-brand {
    text-shadow: -1px 3px 0 rgb(122, 19, 19),
				  3px 1px 0 rgb(122, 19, 19),
				 3px -1px 0 rgb(122, 19, 19),
				-1px -1px 0 rgb(122, 19, 19);
} */

.navbar-dark .navbar-toggler {
    color: rgba(0,0,0);
    border: 2px solid black;
}


.card {
    margin: 5rem auto;
    background: #363537;
    color: white;
    border-radius: 15%;
    width: 18rem;
    height: 11rem;
}

.carousel-item img {
    height: 440px;
}

.carousel-inner{
    width:100%;
    height: 440px !important;
  }

.jumbotron{
    color: white;
    background-color: #363537;
    height: 440px;
    margin-bottom: 0;
}

.c-form{
    background: #363537;
    color: white;
}

#footer {
    height: 100%;
    background: url("imgs/bricks.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

#navbar {
    background: url("imgs/bricks.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

#slideShow {
    background: url("imgs/bricks.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

#contactUs {
    background: url("imgs/bricks.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

@media screen and (max-width: 460px) {
    #navbar h4 {
        font-size: 25px;
        color: #FFDF00;
    text-shadow: -1px 3px 0 rgb(122, 19, 19),
    3px 1px 0 rgb(122, 19, 19),
   3px -1px 0 rgb(122, 19, 19),
  -1px -1px 0 rgb(122, 19, 19);
    }

    .address a {
        font-size: 0.8rem;
    }

    strong {
        font-size: 0.8rem;
    }

    .display-4{
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .lead{
        font-size: 1rem;
        font-weight: 300;
    }

    .carousel-inner {
        width: 100%;
        height: 290px !important;
    }

    .jumbotron {
        color: white;
        background-color: #363537;
        height: 300px;
        margin-bottom: 0;
    }
    .carousel-item img {
        height: 300px;
    }
    div .card {
        margin: 3rem auto;
        background: #363537;
        color: white;
        border-radius: 19%;
        width: 12rem;
        height: 9rem;
        font-size: 16px;
    }
    .c-form {
        background: #363537;
        color: white;
        font-size: 1rem;
    }
  }

  a:hover 
{
     color: white; 
     text-decoration:none; 
     cursor:pointer;  
}

.navbar-dark .navbar-nav .active>.nav-link:hover {
    color: #FFDF00;
    border-bottom: 3px solid #FFDF00
}

hr {
    border-top: 2px solid #FFDF00;
}